<section class="concontainer-fluid">
    <div id="message">
        <!-- Message dynamically inputed here -->
    </div>
    <div class="col-xs-12">
        <div class="row">
            <header class="ctn-header-dashboard">

                <!-- Title -->
                <div class="col-xs-12 col-lg-3 col-md-4">
                    <h2>
                        Work Appointment
                    </h2>
                    <p>Adding a new work appointment to specific workload</p>
                </div>

                <!-- Some information -->
                <div class="col-xs-12 col-lg-3 col-md-4">

                </div>

                <!-- Clear some garbage -->
                <div class="clearfix"></div>


            </header>

            <div style="margin-top:20px;">

                <div class="col-xs-12 col-md-8" style="border-right:1px solid #efefef;">

                    <form id="form-add-appointment" role="form" data-toggle="validation">

                        <div class="form-group">
                            <label for="_AppointmentID">Code:</label>
                            <input type="text" class="form-control" id="_AppointmentID" name="_AppointmentID" value="@ViewBag.Guid" readonly>
                        </div>

                        <div class="form-group">
                            <label for="_AppointmentUserName">Appointment to:</label>
                            <input type="text" class="form-control" id="_AppointmentUserName" name="_AppointmentUserName" value="@User.Claims.First(claim => claim.Type == "name").Value" readonly />
                            <input type="hidden" id="_AppointmentUserUniqueName" name="_AppointmentUserUniqueName" value="@User.Claims.First(claim => claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name").Value" />
                        </div>

                        <div class="form-group">
                            <label for="_WorkloadTitle">Workload:</label>
                            <input type="hidden" name="_AppointmentWorkloadWBID" id="_AppointmentWorkloadWBID" />
                            <input id="_WorkloadTitle" name="_WorkloadTitle" type="search" class="form-control" placeholder="Type part of workload name">
                        </div>

                        <div class="row">
                            <div class="col-md-4" id="sandbox-container">
                                <div class="form-group">
                                    <label for="_AppointmentDate">Appointment date:</label>
                                    <div class="input-group date">
                                        <input type="text" id="_AppointmentDate" name="_AppointmentDate" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="_AppointmentHoursDispensed">Hours dispensed (on refered date):</label>
                                    <select id="_AppointmentHoursDispensed" name="_AppointmentHoursDispensed" class="form-control">
                                        <option value="" selected>- SELECT -</option>
                                        @for (int i = 1; i <= 24; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="_AppointmentTE">T&E (if applyable):</label>
                                    <input type="text" id="_AppointmentTE" name="_AppointmentTE" class="form-control" placeholder="R$ 0,00" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="_AppointmentComment">Any comment about this activity?</label>
                            <textarea class="form-control" rows="5" id="_AppointmentComment" name="_AppointmentComment"></textarea>
                        </div>

                        <button type="submit" class="btn btn-info" id="btnAddAppointment">
                            <i class='fa fa-floppy-o' aria-hidden='true'></i> Save
                        </button>

                    </form>

                    

                </div>
                <div class="col-xs-6 col-md-4">
                    <h3>
                        New work appointment
                    </h3>
                    <p>
                        To add a new work appointment, please click on button bellow. <br />
                        <div class="data-sorting-buttons">
                            <a asp-controller="Appointment" asp-action="Add" class="ds-button-update"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                        </div>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>


